header {
  background-color: var(--main-bg-color);
  padding: 26px;
  align-items: flex-end;

}

nav {
  width: 25%;
  flex-direction: row;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: var(--color-white);
}
