.selected-person {
  width: 896px;
  height: 354px;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-person {
  margin: 164px 0;
  align-items: center;
}

.randomed-person {
  font-weight: bold;
  margin: 10px;
}

.winner {
  margin: 0;
}
