<section class="random-person flex">
  <app-sort-button [allPresentPersons]="allPresentPersons" (newRandomEvent)="getRandomUser($any($event))"></app-sort-button>

  <!-- <div>
    {{AllPresentPersons.length | json}}
  </div> -->

  <div *ngIf="randomedPerson; else noPersonSelected" class="selected-person flex">
    <h3 class="randomed-person">{{ randomedPerson.firstName }} {{ randomedPerson.lastName }} 🌸</h3>
    <p class="winner">Tu es {{randomedPerson.gender | articleDefini}} grand{{randomedPerson.gender | suffixePipe}} gagnant{{randomedPerson.gender | suffixePipe}} !</p>
  </div>
</section>

<ng-template #noPersonSelected>
  <div class="selected-person">
    <p>Personne n'a été sélectionné actuellement</p>
  </div>
</ng-template>



