.absent-page-container {
  flex-direction: row;
  margin: 112px 0;
}

.add-form-cont {
  width: 755px;
  height: 619px;
  border-right: 2px solid #D9D9D9;
  justify-content: center;
  align-items: center;
}

.absent-list {
  width: 755px;
  height: 619px;
}
