<section class="absent-page-container flex" [style.height]="absentList.length >= 16 ? '719px': null">
  <app-add-absent [errorMessage]="errorMessage" (newAbsentEvent)="addPersonToList($any($event))" class="add-form-cont flex"></app-add-absent>
  <app-absent-list [absentList]="absentList" (newAbsentEvent)="removeFromList($any($event))" class="absent-list"></app-absent-list>
</section>
