
.add-form {
  width: 507px;
}

.add-form select {
  padding: 22px 20px;
  margin: 34px 0 0 0;
  background-color: var(--color-white);
  border: none;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.add-form select option{

}

.add-form label {
  font-weight: bold;
}

div p {
  margin-bottom: 0;
}

button {
  width: 143px;
  padding: 19px 0;
  margin-top: 34px;
  border: none;
  background-color: var(--main-bg-color);
  color: var(--color-white);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  cursor: pointer;
}

#person {
  appearance: none;
  background-image: url("../../../assets/images/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 1.5rem auto;
}

.error-absent-message {
  color: brown;
}
