<form [formGroup]="absentForm" class="add-form flex">

  <label for="person">Ajouter un.e absent.e</label>
  <select id="person" formControlName="user">
    <option disabled selected [ngValue]="null">Sélectionner une personne</option>
    <option for *ngFor="let user of users" [ngValue]="user">{{user.firstName}} {{user.lastName}}</option>
  </select>
  <!-- <div *ngIf="absentForm.status == 'INVALID'">
    <p>Veuillez sélectionner une personne de la liste!</p>
  </div> -->

  <div *ngIf="errorMessage" class="error-absent-message">
    <p>{{ errorMessage }}</p>
  </div>

  <button (click)="addPersonToList()" type="submit">Ajouter</button>

</form>
