<section class="container-absent-list flex">
  <div class="absent-list">
    <h4>Liste des absents</h4>
    <ul>
      <li *ngFor="let user of absentList" [ngClass]="{'showGender' : user.gender === 'female'}">
        <p>{{ user.firstName }} {{ user.lastName }}
          <span (click)="removeFromList(user.id)" class="cross">&#215;</span>
        </p>
      </li>
    </ul>
  </div>
  <div class="absente-list">
    <h4>Liste des absentes</h4>
    <ul>
      <li *ngFor="let user of absentList" [ngClass]="{'showGender' : user.gender === 'male'}">
        <p>{{ user.firstName }} {{ user.lastName }}<span (click)="removeFromList(user.id); false" class="cross">&#215;</span></p>
      </li>
    </ul>
  </div>
</section>
<!--

<br>
<br>
<div style="padding: 20px;">{{absentList | json}}</div> -->

<ng-template #absents>
  <p class="absent-empty">La liste des absents est vide!</p>
</ng-template>

<ng-template #absentes>
  <p class="absent-empty">La liste des absentes est vide!</p>
</ng-template>

