.container-absent-list {
  margin-top: 47px;
  padding-left: 100px;
}

.absent-list ul, .absente-list ul {
  padding-left: 15px;
}

.cross {
  font-size: 18px;
  padding: 0 7px;
  margin-left: 13px;
  background-color: #D9D9D9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}

.cross:hover {
  background-color: var(--main-bg-color);
  color: white;
}

.showGender {
  display: none;
}
