
.sort-button {
  background-color: var(--main-bg-color);
  border: none;
  width: 453px;
  padding: 28px;
  color: var(--color-white);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  margin-bottom: 85px;
  cursor: pointer;
}
