/* You can add global styles to this file, and also import other style files */

@import '../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-bg-color: #CE0033;
  --body-bg-color: #F0F0F0;
  --color-white: #FFFFFF;
}


.flex {
  display: flex;
  flex-direction: column;
}

html {
  font-family: 'Poppins';
}

body {
  background-color: var(--body-bg-color);
}
